<!DOCTYPE html>
<html>
<head>
<title> gitlab tool</title>
</head>
<body>

<h4 style="color:black;"> Grant user repository permissions: </h4>
<h7 style="color:blue;"> /grant?user=[username]&role=[role string]&repo=[repository name]</h7>

<h4 style="color:black;"> Grant user group permissions: </h4>
<h7 style="color:blue;"> /grant?user=[username]&role=[role string]&group=[group name]</h7>
<br><br>

<h7 style="color:red;">Where role string is one of: [Guest, Reporter, Developer, Maintainer, Owner]</h7>

<br>
<br>
<h4 style="color:black;">List issues/merge requests created on the given year:</h4>

<h7 style="color:blue;">/issues?year=YYYY</h7>
<br>
<h7 style="color:blue;">/mr?year=YYYY</h7>

</body>
</html>
